.mypokedex-box {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 20px;
}

.mypokedex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mypokedex-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mypokedex-card-box {
  display: inline-block;
  position: relative;
  background: var(--secondary-color);
  width: max(20%, 320px);
  padding: 0.5em 0.5em;
  border-radius: 60px;
  margin: 0 5px 20px 5px;
  box-shadow: #56565c2c 0px 7px 29px 0px;
  border: solid 0.1px rgba(0, 0, 0, 0.418);
}

.mypokedex-card {
  display: flex;
  align-items: center;
}

.mypokedex-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: #ffe7bb;
  margin-right: 10px;
}

.mypokedex-img img {
  width: 60px;
  height: 60px;
}

.mypokedex-card .mypokedex-info {
  width: calc(100% - 150px);
}

.mypokedex-card .btn-release {
  padding: 0.25em 0.5em;
  background: #ffe7bb;
  border-radius: 20px;
  height: fit-content;
  cursor: pointer;
}

.pokeball {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  right: 15%;
  background-size: cover;
  opacity: 0.2;
  transform: rotate(25deg);
}
