header {
  background-color: orange;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60px;
}

.icon {
  display: flex;
  align-items: center;
}

.appName {
  width: fit-content;
  font-size: 24px;
  color: white;
}

.backButton {
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
