@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #070707;
  --secondary-color: #ececec;
  --tersier-color: #ffc06d;
  --warning-color: #ff5858;
  --acceppt-color: #67ff67;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
}

body {
  margin: 0;
  background: url("./assets/images/wallpaper.jpg");
  background-color: #535353;
  background-blend-mode: multiply;
  background-size: 100vw;
  background-repeat: repeat-y;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

main {
  padding-top: 40px;
  min-height: calc(100vh - 60px);
}
