.pokedex-box {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.pokedex-box h2,
.pokedex-box small {
  color: var(--secondary-color);
}

.pokedex-box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.pokedex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-box {
  display: inline-block;
  width: max(25%, 320px);
  padding: 0px 20px;
}

.info-inventory {
  width: 100%;
  padding: 0px 20px;
}

.info-inventory p {
  text-align: right;
  margin-bottom: 5px;
}

.pokemon-card {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0.5em 0.5em;
  width: max(25%, 280px);
  background-color: var(--secondary-color);
  border-radius: 3em;
}

.pokemon-card .image-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--tersier-color);
  margin-right: 1em;
}

.pokemon-card .image-box img {
  display: block;
  width: inherit;
  aspect-ratio: 1/1;
}

.pokemon-card .pokemon-name {
  letter-spacing: 0.25px;
}

.pokedex-info {
  width: calc(100% - 100px);
}

.go {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  right: 0.5em;
}

.pokemon-card::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: transparent;
  top: 0;
  left: 0;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 280px;
}

.btn-pagination {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
