.detail-box {
  display: block;
  width: 100%;
  margin: auto;
  /* background: white; */
}

.detail-content-box {
  width: 100%;
  background: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px 10px;
}

.detail-content {
  margin-bottom: 20px;
}

.detail-content-box .divider {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 20px;
  height: 4px;
  border-radius: 4px;
  background: grey;
}

.detail-header {
  width: 100%;
  padding: 5px 20px;
}

.pokemon-name {
  text-transform: capitalize;
}

.type-box {
  display: flex;
}

.type-box * {
  margin-right: 0.5em;
}

.form-nickname-input {
  width: min(80%, 300px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  z-index: 100;
}

.form-nickname-input h4 {
  margin-bottom: 15px;
  text-align: center;
}

input#nickname {
  display: block;
  outline: none;
  border: none;
  border-radius: 2em;
  width: 100%;
  padding: 0.5em 2em;
  background-color: rgb(211, 211, 211);
  margin-bottom: 0.5em;
}

.btn-catch {
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: white;
  display: block;
  width: fit-content;
  margin: auto;
  color: #000;
  margin-bottom: 10px;
}

.detail-img {
  display: block;
  margin: auto;
  width: 20vh;
}

.detail-img img {
  width: 20vh;
  aspect-ratio: 1/1;
}

.button-group {
  display: flex;
  font-size: 12px;
}

.button-group .btn {
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: red;
  display: block;
  margin: auto;
  color: #fff;
}

#submit {
  font-size: 12px;
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: orange;
  display: block;
  margin: auto;
}
