.table {
  width: 100%;
}

.table-column {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.table-row {
  padding: 0.5em;
}

.table-row.title {
  font-weight: bold;
  width: max(30%, 100px);
  text-align: left;
}

.table-row.content {
  width: max(70%, 100px);
  text-align: left;
}

.type-box {
  display: flex;
}

.type-box * {
  margin-right: 0.5em;
}

.form-nickname-input {
  width: min(80%, 300px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  z-index: 100;
}

.form-nickname-input h4 {
  margin-bottom: 15px;
  text-align: center;
}

input#nickname {
  display: block;
  outline: none;
  border: none;
  border-radius: 2em;
  width: 100%;
  padding: 0.5em 2em;
  background-color: rgb(211, 211, 211);
  margin-bottom: 0.5em;
}

.button-group {
  display: flex;
  font-size: 12px;
}

.button-group .btn {
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: red;
  display: block;
  margin: auto;
  color: #fff;
}

#submit {
  font-size: 12px;
  padding: 0.25em 1em;
  border-radius: 1em;
  border: none;
  outline: none;
  background-color: orange;
  display: block;
  margin: auto;
}
